.option_container{
    width: 100%;
    height: 100vh;
}
.wrapper_info{
    height: 50%;
    width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
}
.option_logo{
padding-top: 20px;
width: 20%;
margin-bottom: 40px;
}
.logo_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.product_img img{
    width: 76%;
}
.active{
    display: flex;
}
.footer p{
    text-align: center;
    font-size: 5px;
    padding-bottom: 10px
}
.accordionEffect{
    height: 90vh;
    padding-top: 10%;
}
.tweedLogo {
    width: 60px;
}

.tweedLogo.hbm{
    width: 7%;
    height: 5%;
    margin-left:30%;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.oneQuickie{
    width: 280px;
    margin-top: 0%;
}
.afks{
  width: 50%;  
}
.fpa{
    width: 50%;
}
.blueProdx{
    margin-top: -25%;
}
.choose_feeling{
    padding: 10px 0px 10px 0px;
    width: 16%;
}
/* Slideshow container */
.slider-container {
    height: 100vh;
    display: inline-flex;
    /* overflow: hidden; */
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
    position: relative;
    margin: auto;
    /* max-width: 1000px; */
  }
  
  /* Slides */
  .slide {
    max-height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
  
  }
  
  .grabbing {
    cursor: grabbing;
  }
  .footer{
      position: absolute;
      bottom: 0;
  }
.blueProdx{
    width: 85%;
}
.noDisplay{
    display: none;
}
.title_name{
    opacity: 0;
}
.thankyouBG{
width: 100vw;
height: 100vh;
background-image: linear-gradient(#02AFAC, #C0DF88);
padding-top: 40%;
}
